<a href="https://colab.research.google.com/github/Musaddiq98/Data-Science-Assignments/blob/main/Hypothesis_Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Cutlet Dataset

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [ ]:
c=pd.read_csv('Cutlets (1).csv')
c.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [ ]:
c.shape

(35, 2)

In [ ]:
c.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [ ]:
c.isnull().sum()

Unit A    0
Unit B    0
dtype: int64

Null hypothesis H0: no difference in the diameter of the cutlet between the two units.


Alternative hypothesis H1: there is significant difference in the diameter of the cutlet between two units.

In [ ]:
unit_A=pd.Series(c.iloc[:,0])
unit_A

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [ ]:
unit_B=pd.Series(c.iloc[:,1])
unit_B

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

In [ ]:
# 2-sample 2-tail ttest:   stats.ttest_ind(array1,array2)     # ind -> independent samples
p_value=stats.ttest_ind(unit_A,unit_B)
p_value

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [ ]:
p_value[1]     # 2-tail probability

0.4722394724599501

Significane value is 5% and p_value is 47%

Since P_value is greater than significance value
## **Null hypothesis is true**

#**No difference in the diameter of the cutlet between the two units**

#LabTAT Dataset

In [ ]:
tat= pd.read_csv('LabTAT.csv')

In [ ]:
tat.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [ ]:
tat.tail()

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

In [ ]:
tat.describe()

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

In [ ]:
tat.isnull().sum()

Laboratory 1    0
Laboratory 2    0
Laboratory 3    0
Laboratory 4    0
dtype: int64

In [ ]:
Lab1=pd.Series(tat.iloc[:,0])
Lab2=pd.Series(tat.iloc[:,1])
Lab3=pd.Series(tat.iloc[:,2])
Lab4=pd.Series(tat.iloc[:,3])

In [ ]:
pvalue = stats.f_oneway(Lab1,Lab2,Lab3,Lab4)
pvalue[1]

2.1156708949992414e-57

In [ ]:
pval= 2.1156708949992414e-57
alpha0=0.05
print('significance=%.2f, p=%.2f' %(alpha0, pval))
if pval <= alpha0:
    print('There is difference in average TAT among the different laboratories & reject the null hyopthesis ')
else:
    print('There is no difference in average TAT among the different laboratories & accept the null hypothesis')

significance=0.05, p=0.00
There is difference in average TAT among the different laboratories & reject the null hyopthesis

# Buyer Ratio Dataset

Null hypothesis H0: all proportions are equal

Alternative hypothesis H1: not all proportions are equal

In [ ]:
from scipy.stats import chi2_contingency
BR = pd.read_csv('BuyerRatio.csv')

In [ ]:
BR.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [ ]:
BR.isnull().sum()

Observed Values    0
East               0
West               0
North              0
South              0
dtype: int64

In [ ]:
BR.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

In [ ]:
BR1=BR.set_index('Observed Values')

In [ ]:
sts, p, dof, expected = chi2_contingency(BR1)

In [ ]:
p

0.6603094907091882

In [ ]:
alpha = 0.05
print('significance=%.2f, p=%.2f' %(alpha, p))
if p <= alpha:
    print('reject null hypothesis(not all proportions are equal)')
else:
    print('fail to reject H0 (all proportions are equal)')

significance=0.05, p=0.66
fail to reject H0 (all proportions are equal)

# Customer order from Dataset

In [ ]:
CO = pd.read_csv('Costomer+OrderForm.csv')

In [ ]:
CO.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [ ]:
CO.isnull().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [ ]:
print(CO['Phillippines'].value_counts(),
CO['Indonesia'].value_counts(),
CO['Malta'].value_counts(),
CO['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64

In [ ]:
ob=[[271,267,269,280],[29,33,31,20]]

In [ ]:
stat1, p1, dof1, expected1 = chi2_contingency(ob)

In [ ]:
p1

0.2771020991233135

In [ ]:
alpha_ = 0.05
print('significance=%.2f, p=%.2f' %(alpha_, p1))
if p1 <= alpha_:
    print('dependent & reject the null hyopthesis ')
else:
    print('Independent & accept the null hypothesis')

significance=0.05, p=0.28
Independent & accept the null hypothesis